.item-card {
  width: 300px;

  background: #ffffff;

  border-radius: 16px;

  overflow: hidden;

  box-shadow: 0 4px 12px rgba(85, 142, 129, 0.12);

  transition: all 0.3s ease;

  cursor: pointer;

  border: 1px solid rgba(85, 142, 129, 0.08);
}

.item-card:hover {
  transform: translateY(-6px);

  box-shadow: 0 10px 25px rgba(85, 142, 129, 0.18);
}

.item-image {
  width: 100%;
  height: 200px;

  object-fit: cover;
}

.item-content {
  padding: 16px;
}

.item-content h3 {
  color: #1F2D2A;

  margin-bottom: 12px;
}

.item-content p {
  color: #5a6b67;

  margin-bottom: 8px;

  font-size: 14px;
}

/* STATUS BADGES */

.status {
  display: inline-block;

  margin-top: 10px;

  padding: 6px 12px;

  border-radius: 20px;

  font-size: 13px;

  font-weight: 600;
}

/* LOST = PEACH THEME */
.lost {
  background-color: #FBE4DD;
  color: #DF9C8B;
}

/* FOUND = TEAL THEME */
.found {
  background-color: #E3F0ED;
  color: #558E81;
}