.profile-container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.profile-card {
  width: 850px;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.profile-card h2 {
  text-align: center;
  color: #2d3748;
  margin-bottom: 25px;
}

.user-info {
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
}

.user-info p {
  margin: 12px 0;
  color: #4a5568;
}

.profile-card hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #e2e8f0;
}

.profile-card h3 {
  margin-bottom: 20px;
  color: #2d3748;
}

.stats-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

/* Total Posts */
.stat-card:nth-child(1) {
  background: #eef2ff;
  color: #4338ca;
}

/* Lost Posts */
.stat-card:nth-child(2) {
  background: #fbe4dd;
  color: #df9c8b;
}

/* Found Posts */
.stat-card:nth-child(3) {
  background: #e3f0ed;
  color: #558e81;
}

/* Resolved Posts */
.stat-card:nth-child(4) {
  background: #dcfce7;
  color: #15803d;
}

.stat-card {
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-4px);
}

.stat-card h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.stat-card p {
  font-size: 30px;
  font-weight: bold;
}


.chart-container {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px
    rgba(0, 0, 0, 0.08);
}